/* Lección 3 - Ejercicio 4 */
/* Fondo lightblue, títulos rojos e imagen 400x300 centrada */
body {
  background-color: lightblue;
}

h1,
h2,
h3 {
  color: red;
}

img {
  width: 400px;
  height: 300px;
  display: block;
  margin: 0 auto;
}
